/* global style */
body,html{
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/* header and input style */
form{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* cards and main box style */

main{
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(3 , 1fr) ;
    gap: 1em;
}
@media screen and (max-width:768px) {
    main{
        grid-template-columns: repeat(1 , 1fr);
    }   
}

.saved-notes{
    padding: 0.5em;
    border-radius: 12px;
    background-color: #ccb85f;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}


/* buttons style */

.button{
    border-radius: 6px;
    border: none;
    background-color: #fefefe;
    outline: none;
    padding :5px;
    width: max-content;
}
.button-del{
    background: #df4759;
    color:#fefefe;
    transition: 200ms;
}
.button-del:hover{
    background:#ea8691;
}
.button-success{
    background: #198754;
    color:#fefefe;
    transition: 200ms;
}
.button-success:hover{
    background:#1fa969;
}